<launch>
	<group>
		<node pkg="iq_gnc" type="square" name="square1" output="screen" ns="/drone1">
			<param name="namespace" value="/drone1"/>
			<param name="use_sim_time"  value="true" />
		</node>
	</group>

	<group>
		
		<node pkg="iq_gnc" type="square" name="square2" output="screen" ns="/drone2">
			<param name="namespace" value="/drone2"/>
			<param name="use_sim_time"  value="true" />
		</node>
	</group>
	<group>	
		<node pkg="iq_gnc" type="square" name="square3" output="screen" ns="/drone3">
			<param name="namespace" value="/drone3"/>
			<param name="use_sim_time"  value="true" />
		</node>
	</group>
	<group>	
		<node pkg="iq_gnc" type="square" name="square4" output="screen" ns="/drone4">
			<param name="namespace" value="/drone4"/>
			<param name="use_sim_time"  value="true" />
		</node>
	</group>
</launch>
